<div class="slider">
    <div class="slide">
        <div class="slide-bg">
            <img
            src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/dB6Krk806zeqd0YNp2ngQ9zXteH.jpg"
            alt=""
            >
        </div>
        <div class="slide-pane">
            <h2 class="titel">slider titel</h2>
            <div class="meta mb-4">
                <div class="rating mb-1">
                    <i>icon-star</i>
                    <span>8.9</span>
                    <span>/10</span>
                </div>
                <div class="votes mb-1">
                    <i>vote-icon</i>
                    <span>4433</span>
                </div>
                <div class="relese-date">
                    20.06.2024
                </div>
            </div>
            <div class="description">some text !</div>
        </div>
    </div>
</div>
